* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-image: url(/img/background.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #120000;
}

main {
  max-width: 900px;
  margin: 32px auto;
  display: grid;
  gap: 24px;
}

header {
  padding-top: 30px;
  height: 150px;
}

header div {
  width: 120px;
  margin: auto;
  background-image: linear-gradient(
    180deg,
    #0c016e 0%,
    #0707dd 40%,
    #4f009f 100%
  );
  border-radius: 50%;
  display: flex;
  padding: 4px;

  transition: transform 0.3s;
}

header div:hover {
  transform: scale(1.1);
}

header div img {
  width: 100%;
  border-radius: 50%;
}

.nome {
  text-align: center;
  color: #fff;
}

section {
  background-image: linear-gradient(
    180deg,
    #0c016e 0%,
    #0707dd 40%,
    #4f009f 100%
  );
  color: white;
  padding: 6px;
  border-radius: 10px;
}

section div {
  background: #3b3b44;
  padding: 25px;
  border-radius: 10px;
}

section p {
  color: #7e7e7e;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 5px;
  gap: 20px;
  margin-top: 25px;
}

.lista-games img {
  width: 120px;
  border-radius: 8px;
}

.lista-sociais img {
  width: 60px;
}

li {
  border-radius: 8px;
  transition: transform 0.3s;
}

.lista-games li:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 20px 5px #fff;
}

.lista-sociais li:hover {
  transform: scale(1.2);
}
